<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/NareeyaChenu/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="NareeyaChenu" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>