<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/NareeyaChenu/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="NareeyaChenu" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>